In [5]:
import time

date = time.localtime(time.time())
datestr = str(date.tm_year) + '-' + str(date.tm_mon) + '-' + str(date.tm_mday)
datestr += ' ' + str(date.tm_hour) + ':' + str(date.tm_min) + ':' + str(date.tm_sec)
print(datestr)

2020-1-19 18:1:42

In [6]:
date = time.localtime(time.time() + 100 * 24 * 60 * 60)

datestr = str(date.tm_year) + '-' + str(date.tm_mon) + '-' + str(date.tm_mday)
datestr += ' ' + str(date.tm_hour) + ':' + str(date.tm_min) + ':' + str(date.tm_sec)

print(datestr)

2020-4-28 18:3:35

In [8]:
import datetime

dt = datetime.datetime.now()

print(dt)

2020-01-19 18:04:16.668335

In [12]:
import random

rannum = random.random() * 5
rannum = round(rannum, 2)

print(rannum)

3.53

In [20]:
count = 0

while True:
    ran1 = random.randint(1,6)
    ran2 = random.randint(1,6)
    count+=1
    print(ran1, ', ', ran2)
    if(ran1 == ran2) :
        print(count)
        break

6 ,  1
2 ,  6
5 ,  4
6 ,  4
2 ,  2
5

In [33]:
bingo = list()

for i in range(1, 26):
    if i < 10: i = '0' + str(i)
    bingo.append(str(i))
    
random.shuffle(bingo)
bingostr = ''
for i in range(0,25) :
    bingostr += bingo[i] + ' '
    if((i + 1) % 5 == 0) : bingostr += '\n'
        
print(bingostr)

04 20 01 19 24
10 12 07 15 03
13 05 22 18 06
14 02 08 09 16
17 21 11 25 23

In [36]:
import webbrowser as WB

# webbrowser.open('http://google.com')
# WB.open_new('http://google.com')

True

In [38]:
WB.open('http://nlotto.co.kr/gameResult.do?method=byWin&drwNo=' + str(random.randint(1,800)))

True

In [42]:
from collections import namedtuple as NT

Student = NT('Student',['name', 'score'])

a = Student('홍길동', 30)

print(a.name)
print(a.score)

홍길동
30

In [43]:
text = 'Life is too short, you need python'
d = dict()
print()
for t in text:
    if t in d: # dictionary에 key가 있다면 기존값 + 1
        d[t] += 1
    else: # dictionary에 key가 없다면 초기값 1 입력
        d[t] = 1
print(d.items())

dict_items([('L', 1), ('i', 2), ('f', 1), ('e', 3), (' ', 6), ('s', 2), ('t', 3), ('o', 5), ('h', 2), ('r', 1), (',', 1), ('y', 2), ('u', 1), ('n', 2), ('d', 1), ('p', 1)])

In [45]:
from collections import defaultdict as DD
text = 'Life is too short, you need python'

d = DD(int)

for t in text:
    d[t] += 1
    
print(d.items())

dict_items([('L', 1), ('i', 2), ('f', 1), ('e', 3), (' ', 6), ('s', 2), ('t', 3), ('o', 5), ('h', 2), ('r', 1), (',', 1), ('y', 2), ('u', 1), ('n', 2), ('d', 1), ('p', 1)])