In [13]:
import pymysql

conn = pymysql.connect(
    host = 'localhost', user = 'root', password = '1234',
    db = 'mydb', charset = 'utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''SELECT year, area1, count(*) 
        FROM accident 
        GROUP BY AREA1, YEAR'''

cursor.execute(sql)
result = cursor.fetchall()
for row in result :
    print(row['area1'], row['year'], row['count(*)'])
    
conn.commit()
cursor.close()
conn.close()

강원 2016 206
경기 2016 749
경남 2016 359
경북 2016 477
광주 2016 85
대구 2016 150
대전 2016 94
부산 2016 153
서울 2016 342
세종 2016 25
울산 2016 70
인천 2016 137
전남 2016 327
전북 2016 275
제주 2016 77
충남 2016 372
충북 2016 221

In [25]:
import pymysql
conn = pymysql.connect(
 host='localhost', user='root', password='1234',
 db='mydb', charset='utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''INSERT INTO MEMBER(NUM, NAME, EMAIL, C_DATE)
        VALUES ('1', '아무개')'''

conn.close()
cursor.close()

In [35]:
import pymysql
conn = pymysql.connect(
 host='localhost', user='root', password='1234',
 db='mydb', charset='utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''CREATE TABLE MEMBER(
        NUM INT,
        NAME VARCHAR(30),
        EMAIL VARCHAR(30),
        C_DATE DATETIME,
        PRIMARY KEY(NUM))'''

cursor.execute(sql)

conn.close()
cursor.close()

In [36]:
import pymysql
conn = pymysql.connect(
 host='localhost', user='root', password='1234',
 db='mydb', charset='utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''CREATE TABLE ARTICLE(
        ID INT,
        TITLE VARCHAR(30),
        CONTENT VARCHAR(30),
        WRITER VARCHAR(30),
        HIT INT,
        C_DATE DATETIME,
        PRIMARY KEY(ID))'''

cursor.execute(sql)

conn.close()
cursor.close()

In [46]:
import pymysql
conn = pymysql.connect(
 host='localhost', user='root', password='1234',
 db='mydb', charset='utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''INSERT INTO MEMBER(NUM, NAME, EMAIL, C_DATE)
        VALUES(1, 'a', 'a@a.com', now())'''

cursor.execute(sql)

conn.commit()

conn.close()
cursor.close()

In [48]:
import pymysql
conn = pymysql.connect(
 host='localhost', user='root', password='1234',
 db='mydb', charset='utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''INSERT INTO article(ID, TITLE, CONTENT, WRITER, HIT, C_DATE)
        VALUES(1, '제목', '내용', '파이썬', 0, now())'''

cursor.execute(sql)

conn.commit()

conn.close()
cursor.close()

In [49]:
import pymysql
conn = pymysql.connect(
 host='localhost', user='root', password='1234',
 db='mydb', charset='utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''UPDATE MEMBER
        SET NAME = 'AA', EMAIL = 'AA@AA.COM' '''

cursor.execute(sql)

conn.commit()

conn.close()
cursor.close()

In [59]:
import pymysql

page_num = input('page number?')
page_num = int(page_num)

end_num = page_num*10
start_num = end_num-9

conn = pymysql.connect(
 host='localhost', user='root', password='1234',
 db='mydb', charset='utf8')

cursor = conn.cursor(pymysql.cursors.DictCursor)
sql = '''SELECT *
        FROM EMP 
        LIMIT %s, 10'''

cursor.execute(sql, start_num-1)

result = cursor.fetchall()
print(len(result))
for row in result :
    print(row['EMPNO'], row['ENAME'])

conn.commit()

conn.close()
cursor.close()

page number?2
4
7876 ADAMS
7900 JAMES
7902 FORD
7934 MILLER

In [4]:
import pymysql
def insert(sql, data):
    cursor.execute(sql, data)
conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='mydb', charset='utf8')
cursor = conn.cursor()

# 데이터 100개 입력
sql = '''INSERT INTO MEMBER
    (NUM, NAME, EMAIL, C_DATE)
    VALUES (NULL, %s, %s, NOW())'''
for i in range(1, 101):
    insert(sql, ('제목' + str(i), 'a@a.com'))

conn.commit()
conn.close()
cursor.close()

In [41]:
import pymysql

def insert(sql, data):
    cursor.execute(sql, data)
conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='mydb', charset='utf8')
cursor = conn.cursor()

sql = '''SELECT *
        FROM MEMBER 
        order by num desc
        LIMIT 0, 5'''

cursor.execute(sql)
result = cursor.fetchall()

for row in result :
    for col in row:
        print(col, end = '')
    print(' ')
    
conn.commit()
conn.close()
cursor.close()

101제목100a@a.com2020-01-28 11:26:07
100제목99a@a.com2020-01-28 11:26:07
99제목98a@a.com2020-01-28 11:26:07
98제목97a@a.com2020-01-28 11:26:07
97제목96a@a.com2020-01-28 11:26:07

In [71]:
import pymysql

def insert(sql, data):
    cursor.execute(sql, data)
conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='mydb', charset='utf8')
cursor = conn.cursor()

sql = '''SELECT *
        FROM shop
        WHERE rest_date = %s AND parking_info = %s
        ORDER BY shop_id DESC
        '''

cursor.execute(sql, ('연중무휴', '주차가능'))
result = cursor.fetchall()

for i in result :
    print(i[0], i[1],i[2],i[3],i[4])
    
conn.commit()
conn.close()
cursor.close()

808 신기산업 영도 앞바다가 한 눈에 들어오는 카페 연중무휴 주차가능
800 속씨원한대구탕 24시간 속을 시원하게 풀어주는 대구탕 전문점 연중무휴 주차가능

In [96]:
import pymysql
import re

conn = pymysql.connect(
    host='localhost', user='root', password='1234',
    db='mydb', charset='utf8')
cursor = conn.cursor()

sql = '''SELECT *
        FROM info
        '''

cursor.execute(sql)
result = cursor.fetchall()

pattern = re.compile('(\d{6}-)\d{7}')

for i in result :
    print(i[0],i[1], pattern.sub('\g<1>*******', i[2]))

conn.commit()

cursor.close()
conn.close()

a 일길동 751111-*******
b 이길동 761111-*******
c 삼길동 771111-*******
d 사길동 781111-*******
e 오길동 791111-*******
f 육길동 801111-*******
g 칠길동 811111-*******